body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 0;
}

body.dark-mode{
  background: #010101;
  color: #ffffff;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

#message{
  background:PaleVioletRed;
  border: 1px solid MediumVioletRed;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  text-align: center;
  opacity: 1;
  transition: opacity.2s ease;
}

#message.dismissed{
  opacity: 0;
  height: 0;
}

#message button{
  float: right;
}

.small-container {
  margin: 0 auto;
  width: 92%;
  max-width: 768px;
}

h1#site-title {
  font-size: 62px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
  font-weight: 800;
}

h1#article-title{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 22px;
  margin-top: 48px;
}

h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 48px;
}

p{
  line-height: 1.25;
  margin-bottom: 1.25em;
}

figure {
  margin: 0;
  border:1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure.main-image {
 background: #b3793f;
 border-color: #886f56;
 color: black;
 margin-bottom: 32px;
}

figure.section-image{
max-width: 400px;
margin-bottom: 32px;
float:right;
margin-left: 20px;
background: #b3793f;
border-color: #886f56;
color: black;
}

p img{
 float: right;
 max- width: 60%;
 margin-lift: 20px;
 margin- bottom: 32px;
}

nav ul{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
}

nav ul li{
}

nav ul li a {
  color: #886f56;
  text-decoration: none;
  padding: 12px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

header nav ul li a:hover{
border-bottom: 3px solid #b3793f;
padding-bottom: 9px;
}

header nav ul {
  border-top: 1px solid #b3793f;
  border-bottom: 1px solid #b3793f;
}

footer nav {

}

footer nav ul li a {
  color: #302b26;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

footer#page-footer {
  padding: 32px 0;
  margin-top: 64px;
  text-align: center;
  background-color:#b3793f;
  color: black;
}
